Repository duobaobox/infinitynote: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx vitest related --run, npx prettier --write

docs: add development guidelines and Windows compatibility notes
  .husky/pre-commit
  README.md
  package.json
  scripts/pre-commit-manual.ps1
  scripts/pre-commit-manual.sh
Due: npx prettier --write

chore: disable husky prepare script for Windows compatibility
  package.json
Due: npx prettier --write

docs: final optimization completion report
  OPTIMIZATION_COMPLETE.md
Due: npx prettier --write

feat(electron): 实现自动更新功能并完善相关配置
  README.md
  electron-builder.json
  electron/main.cjs
  electron/preload.cjs
  package.json
  src/components/SettingsModal/tabs/AboutSettingsTab.tsx
  src/types/electron.d.ts
Due: npx eslint --fix, npx vitest related --run, npx prettier --write

重构发布流程
  CHANGELOG.md
  README.md
  docs/v2.0.0发版指南.md
  electron-builder.json
  package-lock.json
  package.json
  scripts/build-windows.sh
  scripts/build.sh
  scripts/organize-release.sh
  scripts/pre-release-check.sh
  scripts/release.sh
  scripts/verify-build.sh
  src/components/SettingsModal/tabs/AboutSettingsTab.tsx
Due: npx eslint --fix, npx vitest related --run, npx prettier --write

feat: 为画布上的多选笔记添加 Shift 键支持
  src/components/NoteCard/index.tsx
  src/components/SettingsModal/tabs/AboutSettingsTab.tsx
  src/components/VirtualizedNoteContainer/index.tsx
  src/components/ZoomIndicator/index.tsx
  src/pages/Canvas/index.tsx
  src/store/noteStore.ts
Due: npx eslint --fix, npx vitest related --run

feat: 更新拖动模式提示，支持空格键拖动并优化鼠标光标样式
  src/components/ZoomIndicator/index.tsx
  src/pages/Canvas/index.tsx
Due: npx eslint --fix, npx vitest related --run

添加 GitHub Actions 自动化构建配置
  .github/workflows/build.yml
  .github/workflows/ci.yml
  docs/GitHub-Actions-构建指南.md
Due: npx prettier --write

chore: release v2.2.2
  package.json
Due: npx prettier --write

chore: 删除冲突的release工作流，统一使用build.yml
  .github/workflows/release.yml
Due: none

fix: 修改CI工作流使用npm install替代npm ci
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

fix: 添加Linux系统依赖并允许构建失败独立运行
  .github/workflows/build.yml
Due: none

fix: 添加workflow权限并禁用electron-builder自动发布
  .github/workflows/build.yml
Due: none

feat: v2.2.3 添加自动更新功能和性能优化
  .github/workflows/build.yml
  .github/workflows/ci.yml
  docs/发布前检查清单.md
  electron/main.cjs
  electron/preload.cjs
  package.json
  scripts/rebuild-optimized.sh
  vite.config.ts
Due: npx eslint --fix, npx vitest related --run, npx prettier --write

fix: 修复 macOS DMG 构建失败问题
  electron-builder.json
Due: npx prettier --write

fix: 将 DMG 标题改为英文避免 CI 编码问题
  electron-builder.json
Due: npx prettier --write

fix: 修复 Release 文件上传冲突问题
  .github/workflows/build.yml
Due: none

release: v2.2.4
  docs/发布前检查清单.md
  electron-builder.json
  package.json
Due: npx prettier --write

feat: 增加自定义 AI 提供商管理功能，并优化画布便签删除快捷键和视图自动居中逻辑。
  electron/main.cjs
  src/components/SettingsModal/components/CustomProviderForm.tsx
  src/components/SettingsModal/components/ModelConfiguration.tsx
  src/pages/Canvas/index.tsx
  src/services/ai/CustomProvider.ts
  src/services/ai/ProviderRegistry.ts
  src/services/aiService.ts
  src/store/canvasStore.ts
  src/utils/db.ts
Due: npx eslint --fix, npx vitest related --run

chore: bump version to 2.2.5
  package.json
Due: npx prettier --write

fix: disable dmg build for x64 to prevent concurrent disk mounting issues in GitHub Actions
  electron-builder.json
Due: npx prettier --write

Path conditions:
  npx eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  npx vitest related --run: any of: *.{ts,tsx}
  npx prettier --write: any of: *.{json,md}
